h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #FFF;
  font-family: Montserrat;
}

.search {
  border-bottom: 1px solid #5c6297;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);

  text-align: center;
  padding: 35px 0;
}

.input-search {
  width: 320px;
  border-radius: 7px;
  border: 1px solid #6e6e6e;
  outline: transparent;
  padding: 10px 16px;
  margin-right: 8px;

}

.input-search:focus {
  border: 2px solid #383838;

}

.btn-search {

  border-radius: 8px;


  background: #4e75ff;
  border: transparent;

  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 25px;

}

.btn-search:hover {
  background: #6c8cff;
}

.loader {

  text-align: center;
  padding: 35px 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.container {
  padding: 0 15px;
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
  padding: 20px 0;

}

.gallery-item {
  margin-left: 24px;

}

.gallery-item:hover,
.gallery-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: scale(1.05);
}

.gallery-link {
  width: 360px;
  flex-basis: calc((100% - 48px) / 3);

}

.gallery-link:hover {
  cursor: grab;
}

.gallery-image {

  height: 200px;


}

.thumb-block {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  border: 1px solid #626aa5;
  border-top: none;

  padding: 4px 0;
}

.block {
  text-align: center;
}

.tittle {
  color: #212127;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
}

.back-to-top:hover {
  background-color: #6c8cff;

}

.back-to-top:active {
  background-color: #6c8cff;

}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.load-more:hover {
  background-color: #6c8cff;
}

.load-more:active {
  background-color:#6c8cff;
  transform: translateY(2px);

}